@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

html{
    height: 100%;
}

body {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eef5ff;
}

/* ------------ Common-Css -------------- */

.common-container {
  /* position: relative; */
  width: 74%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 0.6rem;
}

.common-container > .common-heading-div {
  margin: 0rem 0rem 2rem 0rem;
}

.common-container > .common-heading-div > h1 {
  color: #0e2d4b;
}

.common-container > .common-heading-div > p {
  color: #acadb2;
  padding: 1rem 0rem;
}

.navigation-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-button > div {
  cursor: pointer;
  color: #9c9ca5;
}

.navigation-button:hover {
  color: #04234a;
}

.navigation-button > button {
  padding: 1rem 1.8rem;
  border-radius: 0.4rem;
  border: none;
  color: white;
  font-weight: lighter;
  font-size: medium;
  background-color: #174a8b;
  cursor: pointer;
}
.navigation-button > button:hover {
  background-color: #938cfe;
}

.select-item {
  background-color: #f8f9fe !important;
  border: 2px solid #534e98 !important;
}

/* ------------ Home-Page-Css -------------- */

.main-div {
  /* border: 1px solid black; */
  margin: auto;
  width: 100%;
  max-height: 85vh;
  height: 85vh;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
}

.side-component {
  width: 26%;
  height: 100%;
  position: relative;
}

.routes-conatiner {
  width: 74%;
  height: 100%;
}

/* ------------ Side-Component-Css -------------- */

.side-component-container {
  width: 100%;
  height: 100%;
  background-image: url(/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  padding: 1.83rem;
}

.side-menu-steps-container {
  display: flex;
  color: #ffffff;
  align-items: center;
  margin-bottom: 0.8rem;
}

.side-menu-steps-container > .side-menu-index {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #d1cdff;
  text-align: center;
  position: relative;
  color: #d1cdff;
}

.side-menu-steps-container > .side-menu-index > span {
  padding: 0.35rem 0rem;
  height: 100%;
  display: inline-block;
}

.side-menu-steps-container > .side-menu-detail {
  margin-left: 1.6rem;
}

.side-menu-steps-container > .side-menu-detail > p {
  font-size: small;
  padding-bottom: 0.4rem;
  color: #a3a2ff;
}

.side-menu-steps-container > .side-menu-detail > h2 {
  font-size: medium;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}

/* ------------ Personal-Info-Css -------------- */

.common-container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.common-container > form > div .personal-info-form-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.common-container > form > div > .personal-info-form-input > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.common-container > form > div > .personal-info-form-input > span > label {
  color: #1a2239;
  font-size: medium;
}

.common-container > form > div > .personal-info-form-input > span > p {
  color: #bb434e;
  font-size: 0.9rem;
  font-weight: bold;
}

.common-container > form > div > .personal-info-form-input > input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #dbdade;
  font-size: medium;
  font-weight: bold;
  margin: 0rem 0.1rem;
}

.common-container
  > form
  > div
  > .personal-info-form-input
  > input::placeholder {
  color: #96979b;
}

.common-container > form > div > div > .personal-info-form-input > input:focus {
  outline: 1px solid #554f95;
}

.common-container > form > div > div:nth-child(2) {
  width: 100%;
  text-align: end;
}

/* ------------ Select-Plan-Css -------------- */

.select-plan-box-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.select-plan-box-container > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.select-plan-box-container > div {
  width: 100%;
}

.select-plan-box-container > div > .plan-box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan-box-div {
  width: 8.81rem;
  height: 9.81rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dbdbdd;
  border-radius: 0.4rem;
  background-color: white;
  cursor: pointer;
}

.plan-box-div:hover {
  border: 1px solid #534d95;
}

.plan-box-div > img {
  width: 2.5rem;
  height: 2.5rem;
}

.plan-box-div > .plan-box-detail > h4 {
  color: #192942;
  margin-bottom: 0.3rem;
  font-size: medium;
}

.plan-box-div > .plan-box-detail > p {
  color: #a4a4ae;
  font-size: small;
}

.plan-value-converter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  gap: 1rem;
  background-color: #f8f9fe;
  border-radius: 1rem;
}

.plan-value-converter .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.plan-value-converter .switch input {
  display: none;
}

.plan-value-converter .slider {
  background-color: #042959;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.plan-value-converter .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.plan-value-converter input:checked + .slider {
  background-color: #042959;
}

.plan-value-converter input:checked + .slider:before {
  transform: translateX(26px);
}

.plan-value-converter .slider.round {
  border-radius: 34px;
}

.plan-value-converter .slider.round:before {
  border-radius: 50%;
}

.pick-add-ons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.service-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #9c9ca5;
  padding: 1.2rem;
  align-items: center;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.service-container > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.service-container > p {
  color: #5952ab;
}

.service-container > div > input {
  accent-color: #4138d0;
}

.service-container > div > span > label {
  font-weight: 500;
  cursor: pointer;
}

.service-container > div > span > p {
  font-size: small;
  color: #a0a0a9;
  font-weight: bold;
}

.service-container > div > input {
  width: 1.2rem;
  height: 1.2rem;
}

/* ------------ Finishing-up-Css -------------- */

.finishing-up {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.finishing-up-payment-page {
  height: 100%;
}

.finishing-up-payment-page-details {
  background-color: #f8f9fe;
  border-radius: 0.8rem;
  padding: 1.5rem;
}

.finishing-up-payment-page-details > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finishing-up-payment-page-details > div:nth-child(1) {
  border-bottom: 1px solid #e7e8ed;
  padding-top: 0rem;
}

.finishing-up-payment-page-details > div {
  padding: 0.9rem 0rem;
}

.finishing-up-payment-page-details > div > div > h3 {
  color: #112746;
  font-size: medium;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.finishing-up-payment-page-details > div > div > p {
  color: #4e48aa;
  font-size: medium;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.finishing-up-payment-page-details > div > div > p:hover {
  text-decoration: 1.5px underline;
  text-decoration-line: underline;
  cursor: pointer;
}

.finishing-up-payment-page-details > div:nth-child(1) > p {
  color: #112746;
  font-size: medium;
  font-weight: bold;
}

.finishing-up-payment-page-details > div > h4 {
  color: #a0a0ac;
  font-size: small;
  font-weight: 100;
}
.finishing-up-payment-page-details > div > p {
  color: #263447;
  font-size: small;
  font-weight: 100;
}

.finishing-up-payment-page-total-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.finishing-up-payment-page-total-value > h5 {
  color: #97989c;
  font-weight: lighter;
  font-size: small;
}

.finishing-up-payment-page-total-value > p {
  color: #4c47d6;
  font-weight: bold;
}

/* ------------ Thanks-Css -------------- */

.common-container > .thank-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.common-container > .thank-container > h2 {
  color: #00265c;
}

.common-container > .thank-container > p {
  text-align: center;
  width: 80%;
  color: #9a9ba1;
  font-size: medium;
}

/* ------------ media-query-Css -------------- */

@media (max-width: 490px) {
  body {
    width: 100%;
    margin: 0;
    /* justify-content: normal;  */
    display: block;
  }
  .main-div {
    flex-direction: column;
    padding: 0;
    position: relative;
  }

  .side-component {
    width: 100%;
    height: 33%;
  }

  .side-component-container {
    background-image: url(/bg-sidebar-mobile.svg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 0;
  }

  .side-menu-detail {
    display: none;
  }

  .routes-conatiner {
    width: 100%;
    background-color: #eef5ff;
  }

  .common-container {
    margin: auto;
    width: 85%;
    border-radius: 0.4rem;
    padding: 0.8rem 1rem;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 72%;
    display: block;
  }

  .common-container > .common-heading-div {
    margin: 0rem;
  }

  .common-container > form {
    height: 0;
  }

  .navigation-button {
    position: fixed;
    bottom: 0;
  }

  .common-container > form > .personal-info-form-input {
    gap: 0.5rem;
    margin-bottom: 0.8rem;
  }
}
